{{> styles}}
<div class="email-container">
    {{> header title="Reset Your Password"}}
    <p>Hello {{name}},</p>
    <p>It seems you've requested a password reset. Please click the button below to reset your password.</p>
    <a href="{{resetLink}}" class="button">Reset Password</a>
    <p>If you didn't request a password reset, please ignore this email.</p>
    {{> footer year=year}}
</div>