{{> styles}}
<div class="email-container">
    {{> header title="Account Update Notification"}}
    <p>Hello {{name}},</p>
    <p>Your account details were recently updated. If this was you, no further action is needed. If not, please contact
        our support team immediately.</p>
    {{> footer year=year}}
</div>